/*===== Font =====*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*===== Global Variables =====*/
:root {
    --shadow-dark-color: rgba(0 0 0 / 20%);
    --shadow-light-color: rgba(0 0 0 / 10%);

    --transition: all 150ms ease-out;
}

/*===== Themes =====*/
.light {
    --primary-background: #f8f9fa;
    --primary-color: #000000;
    --white-color: #ffffff;
    --white-light: rgba(255 255 255 / 65%);
    --skeleton-color1: #dddddd;
    --skeleton-color2: #eeeeee;
}

.dark {
    --primary-background: #000000;
    --primary-color: #f8f9fa;
    --white-color: #111111;
    --white-light: rgba(0 0 0 / 65%);
    --skeleton-color1: #222222;
    --skeleton-color2: #111111;
}

/*===== Colors =====*/
.sky {
    --secondary-color1: rgb(69, 83, 157);
    --secondary-color2: rgb(76, 179, 198);
    --gradient-color1: rgb(69, 83, 157, .2);
    --gradient-color2: rgb(76, 179, 198, .2);
}

.purple {
    --secondary-color1: #B1B2FF;
    --secondary-color2: #AAC4FF;
    --gradient-color1: rgb(177 178 255 / 30%);
    --gradient-color2: rgb(170 196 255 / 30%);
}

.rosy {
    --secondary-color1: #504c89;
    --secondary-color2: #b61ec9;
    --gradient-color1: rgb(80, 76, 137, .2);
    --gradient-color2: rgb(182, 30, 201, .2);
}

/*===== Global Styles =====*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--secondary-color2);
    color: var(--primary-color);
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--secondary-color2), var(--secondary-color1), var(--secondary-color2));
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, var(--secondary-color1), var(--secondary-color2), var(--secondary-color1));
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background: var(--primary-background);
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

blockquote {
    border-left: 3px solid var(--secondary-color2);
    padding: .5rem;
    padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: 1px;
}

/*===== Global Classes =====*/
.wrapper {
    max-width: 1400px;
    width: 90vw;
    margin: 0 auto;
}

.section {
    min-height: 100vh;
    padding: 3rem 0;
}

.section_header {
    max-width: 992px;
    margin: 4rem auto;
    text-align: center;
}

.section_header h4 {
    text-transform: uppercase;
    font-size: 18px;
}

.section_header h2 {
    font-size: 4rem;
    margin: 1rem 0;
    text-transform: capitalize;
    color: var(--secondary-color2);
}

.section_header h2::first-line{
    color: var(--primary-color);
}

.section_header p {
    font-size: 18px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: .5rem;
    padding-right: 1rem !important;
    cursor: pointer;
    border: none;
}

.btn>* {
    width: 20px;
    height: 20px;
    transition: var(--transition);
}

.btn:hover>* {
    margin-left: .5rem;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    overflow: hidden;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, var(--secondary-color1), var(--secondary-color2));
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 120px;
    height: 120px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: -2s;
}


.circles li:nth-child(12) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: -2s;
    animation-duration: 12s;
}

.circles li:nth-child(13) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: -4s;
}

.circles li:nth-child(14) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: -2s;
    animation-duration: 18s;
}

.circles li:nth-child(15) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: -2s;
}

.circles li:nth-child(16) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(17) {
    left: 35%;
    width: 120px;
    height: 120px;
    animation-delay: -7s;
}

.circles li:nth-child(18) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: -15s;
    animation-duration: 45s;
}

.circles li:nth-child(19) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: -2s;
    animation-duration: 35s;
}

.circles li:nth-child(20) {
    left: 85%;
    width: 120px;
    height: 120px;
    animation-delay: -2s;
    animation-duration: 11s;
}

/*===== Global Animaitons =====*/
@keyframes pulse {
    from {
        background: var(--skeleton-color1);
        /* background: var(--gradient-color1); */
    }

    to {
        background-color: var(--skeleton-color2);
        /* background-color: var(--gradient-color2); */
    }
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-2500px) rotate(720deg);
        opacity: .1;
        border-radius: 50%;
    }
}

/*===== Responsive Styles =====*/
@media only screen and (max-width: 1400px) {
    .section_header h2 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .section_header h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 499px) {
    .section {
        padding: 4rem 0;
    }

    .section_header h2 {
        font-size: 2rem;
    }

    .section_header:not(.product_section .section_header) {
        margin: unset;
        margin: 1rem auto;
        margin-bottom: 5rem;
    }
}