/*===== Loading =====*/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--white-light);
    backdrop-filter: blur(12px);
    z-index: 100;
}

.loading>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
}

.loading_logo {
    width: 80px;
    aspect-ratio: 1;
    background: url('../assets/images/startup_logo.svg') no-repeat center/cover;
}

.loading_animated {
    height: 3px;
    width: 200px;
    margin-top: 2rem;
    background-color: #ccc;
    position: relative;
    overflow: hidden;
}

.loading_animated>div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    background: var(--secondary-color2);
    animation: loading_animaiton 700ms infinite linear alternate;
}

@keyframes loading_animaiton {
    0% {
        right: 120%;
        opacity: .5;
    }

    25% {
        opacity: 1;
    }

    100% {
        right: -20%;
        opacity: .5;
    }
}

/*===== Header =====*/
.navbar_header {
    /* background: #B1B2FF; */
    /* background: #AAC4FF; */
    /* background: #D2DAFF; */
    /* background: #EEF1FF; */
    /* background: linear-gradient(to right, var(--secondary-color1), var(--secondary-color2)); */
    display: flex;
    align-items: center;
    transition: var(--transition);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.navbar_logo img {
    width: 45px;
    aspect-ratio: 1;
    color: var(--primary-color);
}

.navbar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_list {
    position: relative;
    padding: 1rem 0;
}

.navbar_list:hover>.navbar_dropdown_menu {
    opacity: 1;
    visibility: visible;
    z-index: unset;
    pointer-events: unset;
}

.navbar_dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    background: var(--gradient-color2);
    border: 1px solid var(--secondary-color2);
    backdrop-filter: blur(12px);
    box-shadow: 2px 2px 16px rgba(0 0 0 / 20%);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: var(--transition);
    pointer-events: none;
    overflow: hidden;
}

.navbar_list:not(:nth-child(3), :nth-child(4), :nth-child(5))::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -.5rem;
    border-width: .5rem;
    border-style: solid;
    border-color: var(--secondary-color2) transparent transparent transparent;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: var(--transition);
}

.navbar_list:hover::after {
    opacity: unset;
    visibility: unset;
    z-index: unset;
}

.navbar_list:nth-child(2)>.navbar_dropdown_menu {
    left: -100%;
}

.navbar_list:nth-child(3)>.navbar_dropdown_menu {
    left: -300%;
}

.navbar_list:nth-child(4)>.navbar_dropdown_menu {
    left: -300%;
}

.navbar_list:nth-child(6)>.navbar_dropdown_menu {
    left: unset;
    right: 0;
}

.navbar_dropdown_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    background: var(--white-color);
    padding: .5rem;
    border-radius: .5rem;
    position: relative;
    transition: var(--transition);
}

.navbar_dropdown_link:hover {
    transform: scale(.95);
}

.navbar_dropdown_link img {
    width: 100px;
    aspect-ratio: 4.5/4.1;
}

.navbar_list:nth-child(2) .navbar_dropdown_link {
    padding: unset;
}

.navbar_list:nth-child(2)>.navbar_dropdown_menu img {
    width: 100%;
    aspect-ratio: unset;
}

.navbar_dropdown_link h4 {
    font-size: 15px;
    margin-bottom: .5rem;
}

.navbar_dropdown_link p {
    font-size: 12px;
}

.navbar_link {
    padding: 1rem;
    position: relative;
    color: var(--primary-color);
}

.navbar_link:hover {
    color: var(--secondary-color2);
}

.btn {
    background: linear-gradient(to right, var(--secondary-color2), var(--secondary-color1));
    transition: var(--transition);
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.navbar_menu .btn {
    margin-left: 2rem;
}

.navbar_menu .btn:hover {
    margin-left: 2rem;
    padding-right: 1rem;
}

.btn:hover {
    background: linear-gradient(to left, var(--secondary-color2), var(--secondary-color1));
    color: inherit;
    border-radius: 1.25rem;
    padding-right: 2rem;
}

.theme_btn {
    margin-left: .5rem;
}

.theme_btn .navbar_dropdown_menu {
    display: unset;
    min-width: 200px;
}

.theme_wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: .5rem;
}

.theme_wrapper>div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: var(--transition);
    border: 2px solid transparent;
    color: var(--secondary-color2);
}

.theme_wrapper>div.active {
    border-color: orange;
}

.theme_wrapper>div:hover {
    transform: scale(.95);
}

.theme_wrapper>div[data-theme="light"] {
    background: #fff;
}

.theme_wrapper>div[data-theme="dark"] {
    background: #000;
}

.colors {
    margin-top: .5rem;
}

.color_wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: .5rem;
    margin-top: .5rem;
}

.color_wrapper>div {
    aspect-ratio: 1;
    border: 2px solid transparent;
    transition: var(--transition);
}

.color_wrapper>div.active {
    border-color: orange;
}

.color_wrapper>div:hover {
    transform: scale(.95);
}

.color_wrapper>div[data-color="purple"] {
    background: #AAC4FF;
}

.color_wrapper>div[data-color="rosy"] {
    background: #b61ec9;
}

.color_wrapper>div[data-color="sky"] {
    background: rgb(76, 179, 198);
}

.bars,
.mobile_theme {
    display: none;
}

/* .translates_btn {
    border: 2px solid rgba(0 0 0 / 20%);
} */

@media only screen and (max-width: 800px) {
    .navbar_header {
        padding: .5rem 0;
    }

    .navbar_menu_wrapper {
        z-index: 10;
    }

    .navbar_menu {
        position: fixed;
        left: 0;
        right: 0;
        bottom: -100%;
        background: var(--white-color);
        padding: 2rem 0;
        transition: var(--transition);
        border-radius: 30px 30px 0 0;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        display: unset;
    }

    .navbar_menu::-webkit-scrollbar {
        display: none;
    }

    .navbar_dropdown_menu {
        display: none !important;
    }

    .navbar_menu.active {
        bottom: 0;
        visibility: visible;
        opacity: 1;
        z-index: 100;
        min-height: 35vh;
    }

    .navbar_overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0 0 0 / 20%);
        backdrop-filter: blur(12px);
        transition: var(--transition);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }

    .navbar_overlay.active {
        visibility: unset;
        opacity: unset;
        z-index: unset;
    }

    .navbar_list {
        padding: unset;
    }

    .navbar_list::after {
        display: none;
    }

    .navbar_list:last-child {
        display: none;
    }

    .navbar_link {
        display: block;
    }

    .navbar_link:hover {
        background-color: var(--skeleton-color2);
    }

    .navbar_menu .btn {
        display: none;
    }

    .navbar_icon_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .mobile_theme {
        display: unset;
    }

    .mobile_theme_overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0 0 0 / 20%);
        backdrop-filter: blur(12px);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: var(--transition);
    }

    .mobile_theme_content.active,
    .mobile_theme_content.active .mobile_theme_overlay {
        visibility: unset;
        opacity: unset;
        z-index: unset;
    }

    .theme_content {
        position: absolute;
        top: 300%;
        left: 50%;
        width: 90%;
        max-width: 350px;
        height: fit-content;
        padding: 1rem;
        transform: translateX(-50%);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        background-color: var(--primary-background);
        color: var(--primary-color);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        border-radius: .5rem;
    }

    .mobile_theme_content.active .theme_content {
        visibility: unset;
        opacity: unset;
        z-index: unset;
    }

    .mobile_theme_icon {
        width: 30px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bars {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        aspect-ratio: 1;
        cursor: pointer;
    }

    .bars svg {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 499px) {
    .navbar_logo {
        font-size: 1.4rem;
    }

    .navbar_logo img {
        width: 2.2rem;
    }
}

@media only screen and (max-width: 300px) {
    .navbar_logo {
        font-size: 1.2rem;
    }
}