.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--white-light);
    backdrop-filter: blur(12px);
    z-index: 100;
}

/*===== Header =====*/
.navbar_header {
    /* background: #B1B2FF; */
    /* background: #AAC4FF; */
    /* background: #D2DAFF; */
    /* background: #EEF1FF; */
    /* background: linear-gradient(to right, var(--secondary-color1), var(--secondary-color2)); */
    display: flex;
    align-items: center;
    transition: var(--transition);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.navbar_logo img {
    width: 45px;
    aspect-ratio: 1;
    color: var(--primary-color);
}

.navbar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_list {
    position: relative;
    padding: 1rem 0;
}

.navbar_list:hover>.navbar_dropdown_menu {
    opacity: 1;
    visibility: visible;
    z-index: unset;
    pointer-events: unset;
}

.navbar_dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    background: var(--gradient-color2);
    backdrop-filter: blur(12px);
    box-shadow: 2px 2px 16px rgba(0 0 0 / 20%);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: var(--transition);
    pointer-events: none;
    overflow: hidden;
}

.navbar_list:not(:nth-child(3), :nth-child(4), :nth-child(5))::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -.5rem;
    border-width: .5rem;
    border-style: solid;
    border-color: var(--secondary-color2) transparent transparent transparent;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: var(--transition);
}

.navbar_list:hover::after {
    opacity: unset;
    visibility: unset;
    z-index: unset;
}

.navbar_list:nth-child(2)>.navbar_dropdown_menu {
    left: -100%;
}

.navbar_list:nth-child(3)>.navbar_dropdown_menu {
    left: -300%;
}

.navbar_list:nth-child(4)>.navbar_dropdown_menu {
    left: -300%;
}

.navbar_list:nth-child(6)>.navbar_dropdown_menu {
    left: unset;
    right: 0;
}

.navbar_dropdown_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    background: var(--white-color);
    padding: .5rem;
    border-radius: .5rem;
    position: relative;
    transition: var(--transition);
}

.navbar_dropdown_link:hover {
    transform: scale(.95);
}

.navbar_dropdown_link img {
    width: 100px;
    aspect-ratio: 4.5/4.1;
}

.navbar_list:nth-child(2) .navbar_dropdown_link {
    padding: unset;
}

.navbar_list:nth-child(2)>.navbar_dropdown_menu img {
    width: 100%;
    aspect-ratio: unset;
}

.navbar_dropdown_link h4 {
    font-size: 15px;
    margin-bottom: .5rem;
}

.navbar_dropdown_link p {
    font-size: 12px;
}

.navbar_link {
    padding: 1rem;
    position: relative;
    color: var(--primary-color);
}

.navbar_link:hover {
    color: var(--secondary-color2);
}

.btn {
    background: linear-gradient(to right, var(--secondary-color2), var(--secondary-color1));
    transition: var(--transition);
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.navbar_menu .btn {
    margin-left: 2rem;
}

.navbar_menu .btn:hover {
    margin-left: 2rem;
    padding-right: 1rem;
}

.btn:hover {
    background: linear-gradient(to left, var(--secondary-color2), var(--secondary-color1));
    color: inherit;
    border-radius: 1.25rem;
    padding-right: 2rem;
}

.theme_btn {
    margin-left: .5rem;
}

.theme_btn .navbar_dropdown_menu {
    display: unset;
    min-width: 200px;
}

.theme_wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: .5rem;
}

.theme_wrapper>div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: var(--transition);
    border: 2px solid transparent;
    color: var(--secondary-color2);
}

.theme_wrapper>div.active {
    border-color: orange;
}

.theme_wrapper>div:hover {
    transform: scale(.95);
}

.theme_wrapper>div[data-theme="light"] {
    background: #fff;
}

.theme_wrapper>div[data-theme="dark"] {
    background: #000;
}

.colors {
    margin-top: .5rem;
}

.color_wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: .5rem;
    margin-top: .5rem;
}

.color_wrapper>div {
    aspect-ratio: 1;
    border: 2px solid transparent;
    transition: var(--transition);
}

.color_wrapper>div.active {
    border-color: orange;
}

.color_wrapper>div:hover {
    transform: scale(.95);
}

.color_wrapper>div[data-color="purple"] {
    background: #AAC4FF;
}

.color_wrapper>div[data-color="rosy"] {
    background: #b61ec9;
}

.color_wrapper>div[data-color="sky"] {
    background: rgb(76, 179, 198);
}

.bars,
.mobile_theme {
    display: none;
}

/* .translates_btn {
    border: 2px solid rgba(0 0 0 / 20%);
} */
/* 

/*===== Hero Section =====*/
.hero_section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    place-items: center;
}

.hero_left_title {
    font-size: 4rem;
}

.hero_left blockquote {
    margin: 2rem 0;
    width: 70%;
    font-size: 1.1rem;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    overflow: hidden;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, var(--secondary-color1), var(--secondary-color2));
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 120px;
    height: 120px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: -2s;
}


.circles li:nth-child(12) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: -2s;
    animation-duration: 12s;
}

.circles li:nth-child(13) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: -4s;
}

.circles li:nth-child(14) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: -2s;
    animation-duration: 18s;
}

.circles li:nth-child(15) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: -2s;
}

.circles li:nth-child(16) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(17) {
    left: 35%;
    width: 120px;
    height: 120px;
    animation-delay: -7s;
}

.circles li:nth-child(18) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: -15s;
    animation-duration: 45s;
}

.circles li:nth-child(19) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: -2s;
    animation-duration: 35s;
}

.circles li:nth-child(20) {
    left: 85%;
    width: 120px;
    height: 120px;
    animation-delay: -2s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-2500px) rotate(720deg);
        opacity: .1;
        border-radius: 50%;
    }

}

.hero_right {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto 15%;
    gap: .5rem;
}

.hero_right_video {
    border: 5px solid var(--secondary-color2);
    border-radius: .5rem;
    width: inherit;
    aspect-ratio: 16/9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_btn {
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, var(--secondary-color1), var(--secondary-color2));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    z-index: 0;
    position: relative;
}

.play_btn:hover {
    background: linear-gradient(to left, var(--secondary-color1), var(--secondary-color2));
    transform: scale(1.2);
    opacity: .8;
    transition-timing-function: linear;
}

.play_btn::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    z-index: -1;
    animation: play_btn_animated 2s linear infinite;
}

.play_btn::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    z-index: -1;
    animation: play_btn_animated 5s linear infinite;
}

@keyframes play_btn_animated {
    0% {
        transform: scale(0);
        background: linear-gradient(to right, var(--secondary-color1), var(--secondary-color2));
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        background: linear-gradient(to left, var(--secondary-color1), var(--secondary-color2));
        opacity: 0;
    }
}

.play_btn svg {
    width: 40px;
    height: 40px;
}

.hero_video,
.hero_video_overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: var(--transition);
    visibility: hidden;
    z-index: -1;
    opacity: 0;
}

.hero_video.active {
    visibility: visible;
    z-index: 10;
    opacity: 1;
}

.hero_video.active .hero_video_overlay {
    background: rgb(0 0 0 / 20%);
    backdrop-filter: blur(12px);
    visibility: visible;
    z-index: 10;
    opacity: 1;
}

.hero_right_video_wrapper {
    border: 5px solid var(--secondary-color2);
    background: var(--secondary-color2);
    width: 90%;
    max-width: 900px;
    aspect-ratio: 16/9;
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 10;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}

.hero_video.active .hero_right_video_wrapper {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    visibility: unset;
}

.hero_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.video_controls {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    height: 100px;
    background: rgba(0 0 0 / 30%);
    color: #fff;
    border-radius: 0 0 20px 20px;
    opacity: 0;
    transition: var(--transition);
}

.hero_right_video_wrapper:hover .video_controls {
    opacity: 1;
    bottom: 0;
}

.video_controls>div {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.controls button {
    background: none;
    font-size: 1.3rem;
    color: #fff;
    border: none;
    transition: var(--transition);
}

.video_range_label input {
    width: 100%;
    transition: var(--transition);
    height: 3px;
}

.hero_right_social {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.hero_right_social ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_right_social a {
    font-size: 1.2rem;
    transition: var(--transition);
    position: relative;
    width: 2rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_right_social a::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    background: linear-gradient(to right, var(--secondary-color1), var(--secondary-color2));
    color: var(--primary-color);
    font-size: 14px;
    padding: .2rem .4rem;
    border-radius: .5rem;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: var(--transition);
}

.hero_right_social a:hover {
    color: var(--secondary-color2);
}

.hero_right_social a:hover::after {
    visibility: unset;
    opacity: unset;
    z-index: unset;
}

/*===== Product Section =====*/
.product_section {
    position: relative;
    padding-bottom: unset;
}

.product_container {
    background: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color1));
    backdrop-filter: blur(12px);
    position: relative;
}

.section_header {
    max-width: 992px;
    margin: 4rem auto;
    text-align: center;
}

.section_header h4 {
    text-transform: uppercase;
    font-size: 18px;
}

.section_header h2 {
    font-size: 4rem;
    margin: 1rem 0;
}

.section_header p {
    font-size: 18px;
}

.products_wrapper {
    padding: 1rem 0;
}

.product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
}

.product:nth-child(2) {
    flex-direction: row-reverse;
}

/* .product:nth-child(2) .product_image_wrapper{
    flex-direction: row-reverse;
}

.product_image_wrapper {
    display: flex;
    gap: 1rem;
}

.product_image_slider_handler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 20%;
}

.product_image_slider_handler > img{
    aspect-ratio: 1;
    width: 100%;
} */

.product_image {
    aspect-ratio: 4.5/4.1;
    width: 360px;
    background: url('../assets/images/product1.png') no-repeat center/cover;
}

.product:nth-child(2) .product_image {
    background: url('../assets/images/product2.png') no-repeat center/cover;
}

.product:nth-child(3) .product_image {
    background: url('../assets/images/product3.png') no-repeat center/cover;
    aspect-ratio: 1/2;
}

.prodcut_info h2 {
    font-size: 3rem;
}

.price_ratings {
    margin-top: 1.5rem;
}

.price_ratings p {
    font-size: 1.5rem;
    display: flex;
    gap: .5rem;
}

.ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--secondary-color2);
}

.prodcut_info ul {
    font-size: 1.5rem;
    list-style-type: disc;
    margin: 1.5rem 0 1.5rem 1.5rem;
}

.product_actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product_actions>.btn:first-child {
    background: unset;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.product_actions>.btn:first-child:hover {
    background: var(--primary-color);
    border-color: transparent;
    color: var(--primary-background);
}

/*===== Services Section =====*/
.service_section {
    position: relative;
}

.service_wrapper {
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.service_wrapper::-webkit-scrollbar {
    background-color: transparent;
}

.service_wrapper::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, var(--secondary-color1), var(--secondary-color2), var(--secondary-color1));
    border-radius: 100px;
}

.service_card {
    display: inline-block;
}

.service {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    overflow: hidden;
}

.service_info {
    display: grid;
    align-content: center;
    padding: 0 6rem;
    white-space: normal !important;
}

.service_info h2 {
    font-size: 3rem;
}

.service_info p {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.service_image {
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
}

.service_image:hover>.service_image_overlay {
    visibility: visible;
    opacity: 1;
    z-index: 0;
}

.service_image_overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.service_card:nth-child(1) .service_image_overlay {
    background: linear-gradient(to right bottom, #d844da, #1b1052);
}

.service_card:nth-child(1) .service_image_overlay h2 {
    color: #fff;
}

.service_card:nth-child(1) .service_image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    transition: var(--transition);
    background: url('../assets/images/data_analysis.jpg') no-repeat top/cover;
    z-index: 1;
}

.service_card:nth-child(1) .service_image::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    transition: var(--transition);
    background: url('../assets/images/data_analysis.jpg') no-repeat bottom/cover;
}

.service_image:hover::before {
    transform: translateY(-25%);
    transform-style: preserve-3d;
}

.service_image:hover::after {
    transform: translateY(25%);
    transform-style: preserve-3d;
}

.service_card:nth-child(2) .service_image_overlay {
    background: linear-gradient(to right bottom, #504c89, #b61ec9);
}

.service_card:nth-child(2) .service_image_overlay h2 {
    color: #fff;
}

.service_card:nth-child(2) .service_image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    transition: var(--transition);
    background: url('../assets/images/frontend.jpg') no-repeat top/cover;
    z-index: 1;
}

.service_card:nth-child(2) .service_image::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    transition: var(--transition);
    background: url('../assets/images/frontend.jpg') no-repeat bottom/cover;
}

.service_image:hover::before {
    transform: translateY(-25%);
    transform-style: preserve-3d;
}

.service_image:hover::after {
    transform: translateY(25%);
    transform-style: preserve-3d;
}

.service_card:nth-child(3) .service_image_overlay {
    background: linear-gradient(to right bottom, #34195c, #c7b1fc);
}

.service_card:nth-child(3) .service_image_overlay h2 {
    color: #fff;
}

.service_card:nth-child(3) .service_image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    transition: var(--transition);
    background: url('../assets/images/cyber_security.jpg') no-repeat top/cover;
    z-index: 1;
}

.service_card:nth-child(3) .service_image::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    transition: var(--transition);
    background: url('../assets/images/cyber_security.jpg') no-repeat bottom/cover;
}

.service_image:hover::before {
    transform: translateY(-25%);
    transform-style: preserve-3d;
}

.service_image:hover::after {
    transform: translateY(25%);
    transform-style: preserve-3d;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: .5rem;
    padding-right: 1rem !important;
}

.btn svg {
    width: 20px;
    height: 20px;
    transition: var(--transition);
}

.btn:hover>svg {
    margin-left: .5rem;
}

/*===== Blog Section =====*/
.blog_section {
    padding-top: 3rem;
    position: relative;
}

.blog_circles {
    height: 220%;
}

.blog_wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.blog_skeleton {
    animation: pulse 700ms infinite alternate;
    aspect-ratio: 1;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@keyframes pulse {
    from {
        background: var(--skeleton-color1);
        /* background: var(--gradient-color1); */
    }

    to {
        background-color: var(--skeleton-color2);
        /* background-color: var(--gradient-color2); */
    }
}

.blog {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    position: relative;
    overflow: hidden;
}

.blog_image {
    aspect-ratio: 1;
    background: no-repeat center/cover;
    transition: var(--transition);
    transform-style: preserve-3d;
}

.blog:hover .blog_image {
    transform: translateY(-50%);
}

.blog_info {
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    bottom: -50%;
    padding: 1rem;
    transition: var(--transition);
}

.blog_info p {
    font-size: 18px;
    margin: 1rem 0;
}

.blog:hover .blog_info {
    bottom: 0;
}

.blog_btn {
    background: var(--skeleton-color2);
    color: gray;
    max-width: 200px;
    margin: 0 auto;
}

.blog_btn:hover {
    background: var(--skeleton-color1);
}

/*===== About Section =====*/
.about_header p {
    margin-top: 1rem;
}

.about_card_wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.about_skeleton {
    aspect-ratio: 4/5;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    animation: pulse 700ms infinite alternate;
}

.about_card {
    position: relative;
    background-color: var(--white-color);
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.about_card:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.about_image {
    aspect-ratio: 4/2.5;
    background: gray;
    position: relative;
}

.about_name {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.about_profession {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 1rem;
    color: gray;
}

.about_description {
    font-size: 18px;
}

.about_card_info {
    padding: 1rem;
}

.about_card_overlay {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    bottom: -100%;
    background: var(--white-color);
    color: var(--primary-color);
    transition: var(--transition);
}

.about_card_overlay.active {
    bottom: 0;
}

.close_icon_wrapper,
.about_more_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: gray;
    background: var(--white-light);
    backdrop-filter: blur(12px);
    cursor: pointer;
}

.close_icon_wrapper::after {
    content: 'Close';
    position: absolute;
    left: -100%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, var(--secondary-color1), var(--secondary-color2));
    border-radius: .5rem;
    padding: .3rem .6rem;
    font-size: 14px;
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}

.close_icon_wrapper:hover::after {
    opacity: 1;
    visibility: visible;
    transition: var(--transition);
    transition-delay: 500ms;
}

.close_icon_wrapper:hover,
.about_more_icon:hover {
    background: #efefef;
    color: #000;
}

.about_more_icon::after {
    content: 'More';
    position: absolute;
    left: -100%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, var(--secondary-color1), var(--secondary-color2));
    border-radius: .5rem;
    padding: .3rem .6rem;
    font-size: 14px;
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}

.about_more_icon:hover::after {
    opacity: 1;
    visibility: visible;
    transition: var(--transition);
    transition-delay: 500ms;
}

.about_info {
    padding: 2rem;
}

.about_info p {
    margin: .5rem 0;
}

.about_info p span {
    font-weight: 700;
}

.about_info .btn {
    margin-top: 2rem;
    width: 100%;
}

/*===== Footer =====*/
.footer {
    background: linear-gradient(to right, #000, #111, #000);
    color: #fff;
}

.top {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    border-bottom: 1px solid rgba(255 255 255 / 10%);
    font-size: 14px;
}

.top:hover {
    background: linear-gradient(to right, #111, #000, #111);
}

.top_wrapper {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.footer_wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    padding: 2rem 0;
}

.footer_wrapper h4 {
    font-size: 20px;
    color: var(--secondary-color2);
    margin-bottom: 1rem;
}

.footer_wrapper ul li:not(:last-child) {
    margin-bottom: .5rem;
}

.footer_wrapper li a:hover {
    text-decoration: underline;
}

.footer_copyright {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    border-top: 1px solid rgba(255 255 255 / 10%);
    font-size: 14px;
}

.footer_social a {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: fit-content;
}

.footer_newsletter p {
    margin-bottom: 1rem;
}

.newsletter_form {
    display: flex;
    align-items: center;
    border: 1px solid;
    height: 2.5rem;
    background: #fff;
    color: #000;
}

.newsletter_form input {
    width: 100%;
    height: 100%;
    border: none;
    padding: .5rem;
}

.newsletter_form i {
    aspect-ratio: 1;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-left: 1px solid #ccc;
}

.newsletter_form input:focus {
    outline: none;
}

/*===== Responsive Styles =====*/
@media only screen and (max-width: 1400px) {

    .hero_left_title,
    .section_header h2 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 1280px) {
    .hero_section {
        grid-template-columns: 100%;
    }

    .hero_left {
        grid-row-start: 2;
    }

    .product_header {
        width: 80%;
    }

    .product_footer {
        padding: 4rem;
        font-size: 2.5rem;
    }

    .service_info {
        padding: 0 4rem;
    }

    .blog_wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .about_card_wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}


@media only screen and (max-width: 1024px) {
    .service {
        gap: 1rem;
    }

    .service_info {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 992px) {
    .product_image {
        width: 340px;
    }

    .prodcut_info h2 {
        font-size: 2.5rem;
    }

    .prodcut_info ul {
        font-size: 1.3rem;
        margin-left: 1.5rem;
    }

    .product_footer {
        padding: 4rem;
        font-size: 2rem;
    }

    .service {
        gap: .5rem;
    }

    .service_info {
        padding: 0 1rem;
    }

    .service_info h2 {
        font-size: 2.5rem;
    }

    .service_info p {
        font-size: 1.2rem;
        margin: 1.5rem 0;
    }

    .service_image {
        aspect-ratio: 1;
        position: relative;
    }

    .footer_wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
        padding: 2rem;
    }
}

@media only screen and (max-width: 800px) {

    .navbar_header {
        padding: .5rem 0;
    }

    .navbar_menu_wrapper {
        z-index: 10;
    }

    .navbar_menu {
        position: fixed;
        left: 0;
        right: 0;
        bottom: -100%;
        background: var(--white-color);
        padding: 2rem 0;
        transition: var(--transition);
        border-radius: 30px 30px 0 0;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        display: unset;
    }

    .navbar_menu::-webkit-scrollbar {
        display: none;
    }

    .navbar_dropdown_menu {
        display: none !important;
    }

    .navbar_menu.active {
        bottom: 0;
        visibility: visible;
        opacity: 1;
        z-index: 100;
        min-height: 35vh;
    }

    .navbar_overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0 0 0 / 20%);
        backdrop-filter: blur(12px);
        transition: var(--transition);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }

    .navbar_overlay.active {
        visibility: unset;
        opacity: unset;
        z-index: unset;
    }

    .navbar_list {
        padding: unset;
    }

    .navbar_list::after {
        display: none;
    }

    .navbar_list:last-child {
        display: none;
    }

    .navbar_link {
        display: block;
    }

    .navbar_link:hover {
        background-color: var(--skeleton-color2);
    }

    .navbar_menu .btn {
        display: none;
    }

    .navbar_icon_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .mobile_theme{
        display: unset;
    }

    .mobile_theme_overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0 0 0 / 20%);
        backdrop-filter: blur(12px);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: var(--transition);
    }

    .mobile_theme_content.active,
    .mobile_theme_content.active .mobile_theme_overlay {
        visibility: unset;
        opacity: unset;
        z-index: unset;
    }

    .theme_content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        max-width: 350px;
        height: fit-content;
        padding: 1rem;
        transform: translateX(-50%);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        background-color: var(--primary-background);
        color: var(--primary-color);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }

    .mobile_theme_content.active .theme_content{
        visibility: unset;
        opacity: unset;
        z-index: unset;
    }

    .mobile_theme_icon {
        width: 30px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bars {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        aspect-ratio: 1;
        cursor: pointer;
    }

    .bars svg {
        width: 30px;
        height: 30px;
    }

    .hero_left_title {
        font-size: 3rem;
    }

    .hero_left blockquote {
        width: 90%;
    }

    .hero_right {
        margin-top: 2rem;
    }

    .hero_right_social a::after {
        content: attr(data-text);
        position: absolute;
        top: 50%;
        right: 100%;
        left: unset;
        transform: translateY(-50%);
    }

    .play_btn {
        width: 70px;
        height: 70px;
    }

    .product {
        justify-content: space-between;
        gap: 1rem;
    }

    .hero_left_title,
    .section_header h2 {
        font-size: 3rem;
    }

    .product {
        flex-direction: column !important;
        gap: 1rem;
    }

    .product_header {
        width: 90%;
    }

    .prodcut_info h2 {
        font-size: 2rem;
    }

    .product_footer {
        padding: 2rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .service_info h2 {
        font-size: 2rem;
    }

    .blog_wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

@media only screen and (max-width: 668px) {
    .product {
        margin: 4rem 0;
    }

    .service {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2rem;
    }

    .about_card_wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .blog_wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 499px) {

    .hero_left_title,
    .section_header h2 {
        font-size: 2rem;
    }

    .section_header:not(.product_section .section_header) {
        margin: unset;
        margin: 1rem auto;
        margin-bottom: 5rem;
    }

    .product_section .section_header {
        margin: unset;
        margin: 1rem auto;
        margin-bottom: 8rem;
    }

    .product {
        justify-content: center;
        margin: 4rem 0;
        flex-direction: column !important;
        gap: 2rem;
    }

    .product_image {
        width: 300px;
    }

    .product_footer {
        padding: 1rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .footer h4 {
        font-size: 18px;
    }

    .footer ul {
        font-size: 1rem;
    }

    .top {
        padding: .8rem;
    }

    .footer_wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 1rem;
    }

    .footer_wrapper>div ul {
        /* display: flex;
        align-items: center;
        gap: .5rem;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: .5rem;
    }
}

@media only screen and (max-width: 300px) {
    .navbar_logo {
        font-size: 1.4rem;
    }

    .product_image {
        width: 260px;
    }

    .footer_wrapper {
        padding: 1rem;
    }
}