.serviceDetails_title {
    padding-top: 3rem;
}

.serviceDetails_container {
    background: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color1));
    backdrop-filter: blur(12px);
    padding: 2.5rem 0;
}

.serviceDetails_wrapper,
.service_right_content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    font-size: 1.1rem;
}

.service_title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.serviceDetails_left {
    height: fit-content;
}

.service_left_content {
    width: 90%;
    margin: 0 auto;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.serviceDetails_left img {
    aspect-ratio: 16/9;
    border-radius: .5rem;
}

.service_left_content h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.service_left_content .btn {
    width: 100%;
}

.serviceDetails_right ul {
    list-style-image: url('../assets/icons/star.svg');
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.service_right_bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

.service_tabs_wrapper {
    padding: 2.5rem 0;
    font-size: 1.1rem;
}

.serivce_tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: 3rem auto;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.serivce_tabs i {
    font-size: 2rem;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    cursor: pointer;
    transition: var(--transition);
    user-select: none;
    background: var(--white-light);
    text-align: center;
}

.tab:hover {
    background: var(--skeleton-color2);
}

.tab.active {
    color: var(--secondary-color2);
}

.tab:nth-child(1).active~.tab_border {
    left: 0;
}

.tab_border {
    height: 5px;
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-color2);
    border-radius: .5rem;
    transition: var(--transition);
}

.tab_items1 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
}

.tab_item {
    padding: 1rem;
    background-color: var(--white-light);
    aspect-ratio: 4/3;
    box-shadow: 0 0 3rem var(--gradient-color2);
    transition: var(--transition);
}

.tab_item:hover {
    background-color: var(--gradient-color2);
}

.tab_title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.tab_item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-top: .5rem;
}

.tab_items2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    display: none;
    counter-reset: tabcounter;
}

.tab2_item {
    background-color: var(--white-light);
    box-shadow: 0 0 3rem var(--gradient-color2);
    padding: 1rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 12% 88%;
}

.tab2_counter {
    position: relative;
}

.tab2_counter::before {
    counter-increment: tabcounter;
    content: counter(tabcounter);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--gradient-color2);
}

.faq_container {
    margin-top: 4rem;
}

.service_faq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.faq_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq {
    border-radius: .5rem;
    background-color: var(--gradient-color2);
}

.faq_title {
    font-weight: 700;
    font-size: 1.2rem;
    background: var(--gradient-color2);
    color: var(--primary-color);
    border: none;
    width: 100%;
    padding: 1.2rem;
    text-align: left;
    border-radius: .5rem;
    cursor: pointer;
}

.faq:nth-child(even) .faq_title:after {
    content: ' voluptatibus vero accusamus';
}

.faq:nth-child(3) .faq_title::after {
    content: ' velit voluptate sunt accusantium natus blanditiis quod';
}

.faq:nth-child(6) .faq_title::after {
    content: ' velit voluptate sunt accusantium natus blanditiis quod';
}

.faq:nth-child(9) .faq_title::after {
    content: ' velit voluptate sunt accusantium natus blanditiis quod';
}

.faq_content {
    font-size: 1.1rem;
    transform: scale(0);
    height: 0;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.faq_content.active {
    transform: scaleX(1);
    height: fit-content;
    padding: 1.2rem;
    opacity: unset;
    visibility: unset;
    z-index: unset;
}

.faq_image {
    height: fit-content;
}

@media only screen and (max-width: 1024px) {
    .serviceDetails_wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .tab_items1 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .tab_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        text-align: center;
    }

    .tab_title {
        margin-bottom: 0;
    }

    .tab2_item {
        grid-template-columns: 100%;
    }

    .tab2_counter {
        height: 80px;
    }
}

@media only screen and (max-width: 800px) {
    .tab_items1 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .service_title {
        font-size: 2rem;
        max-width: 90%;
    }

    .serviceDetails_right {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 668px) {
    .service_right_content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .service_faq {
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
    }

    .tab_items1,
    .tab_items2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        max-width: 80%;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 499px) {
    .service_title {
        font-size: 1.5rem;
    }

    .section_header h2 {
        padding-top: 5rem;
    }
}